*{
    margin: 0;
    padding: 0;
    /*Adding the css portion of adding the font to labels*/
    font-family: 'Merriweather', serif;
}
/* The class header is used with a dot and fill in the css properties*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/gw.png);
    background-position: center;
    position: relative;

}
/* nav is a class name? and this edits the side bar*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
/* this is for fixing the size of the logo*/
nav img{
    width: 150px;

}
/*class name nav-links which was created in html...Since its class we use (.)*/
.nav-links{
    flex: 1;
    text-align: right;

}
/*Something is definitely for a list*/
.nav-links ul li{
    list-style: none; /*none so there will be no bullet*/
    display: inline-block;/*so it will come horizontally*/
    padding: 8px 12px;
    position: relative;

}
/*Same thing but type in a for the anchor tag*/
.nav-links ul li a{
    color: #fff; /*color of the tag to be white*/
    text-decoration: none;
    font-size: 13px;

}
/*The hover effect of something...*/
.nav-links ul li::after{
    content: '';
    width: 0%; /*100% would be underlining the labels...0% would be hiding it*/
    height: 2px;
    background: #97b4fc;
    display: block;
    margin: auto;
    transition: 0.5s;/*Time for the underline to show up*/
}
/*This will highlight and underline the label when hovering over it */
.nav-links ul li:hover::after{
    width: 100%;/*Shows the underline with 100%*/
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*this is so it will be in the center of the div*/
    text-align: center;

}
/*add the h1 for the styling of the title*/
.text-box h1{
    font-size: 62px;
}
/*p for the text*/
.text-box p{
    margin: 10px 0 40px; /* 10 from top, 0 from left and right, 40 from bottom*/
    font-size: 14px;
    color:#fff;
}
.our-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.our-btn:hover{
    border: 1px solid #97b4fc;
    background: #97b4fc;
    transition: 1s;

}

/*To hide the icons for the fulls screen*/
nav .fa {
    display: none;
}

/*Now this is to take care of the mobile device*/
/*applicable to device with less than or equal to 700px*/
@media(max-width: 700px){
    /*Fixing the size of the title*/
    .text-box h1{
        font-size: 20px;
    }
    /*this was the CSS created for the menu labels*/
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #97b4fc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;/*To Hide the menu*/
        text-align: left;
        z-index: 2;
        transform: 1s;
    }
    /*prettying up the x button the menu*/
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    /*Space around the menu links*/
    .nav-links ul{
        padding: 30px;
    }


    /*the second section */
    .row{
        flex-direction: column;
    }

    /*The 5th section*/
    .reviews-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
    /* cta section */
    .cta h1{
        font-size: 24px;
    }

}



/* New Section of CSS for styling the new section of the page */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(5, 5, 5);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #4ed32d;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*The styling of the third section of the first page*/

.camp{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    /*color: #fff; color of the text on the image*/
}
.camp-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.camp-col img{
    width: 100%;
    display: block; /*makes the image round on the edges */
}
/* Creates the layer over the image (so like a light shading) */
.layer{
    background: transparent;
    /*background: rgba(226,9,30,0.7);*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,9,30,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* For the fourth section of the first pages */

.building{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.building-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left; 
}
.building-col img{
    width: 100%;
    height: 100%; /*these stretch out the images to fill the area*/
    border-radius: 10px;
}
.building-col p{
    padding: 0;
}
.building-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;   
}

/* 5th section on the first page */
.reviews{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.reviews-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left; 
    background: #d61919;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
/*makes the image a circle by using border-radius at 50%*/
.reviews-col img{
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 30px;
}
.reviews-col p{
    padding: 0;
}
.reviews-col h3{
    margin-top: 15px;
    text-align: left;
}
/* changes the color of the star icons*/
.reviews-col .fa{
    color:#d61e1e;
}

/*Call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(28, 67, 224, 0.7)),url(images/gw.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* Footer section */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #d61e1e;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #d61e1e;
}


/*About Us page styling*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/about.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

}
.sub-header h1{
    margin-top: 100px;
}

/* New section for the about us section*/
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.color-btn{
    border: 1px solid #97b4fc;
    background: transparent;
    color: #97b4fc;
}
.color-btn:hover{
    color: #fff;
}



