*{
    margin: 0;
    padding: 0;
    /*Adding the css portion of adding the font to labels*/
    font-family: 'Merriweather', serif;
}
/* The class header is used with a dot and fill in the css properties*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/gw.png);
    background-position: center;
    position: relative;

}
/* nav is a class name? and this edits the side bar*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
/* this is for fixing the size of the logo*/
nav img{
    width: 150px;

}
/*class name nav-links which was created in html...Since its class we use (.)*/
.nav-links{
    flex: 1;
    text-align: right;

}
/*Something is definitely for a list*/
.nav-links ul li{
    list-style: none; /*none so there will be no bullet*/
    display: inline-block;/*so it will come horizontally*/
    padding: 8px 12px;
    position: relative;

}
/*Same thing but type in a for the anchor tag*/
.nav-links ul li a{
    color: #fff; /*color of the tag to be white*/
    text-decoration: none;
    font-size: 13px;

}
/*The hover effect of something...*/
.nav-links ul li::after{
    content: '';
    width: 0%; /*100% would be underlining the labels...0% would be hiding it*/
    height: 2px;
    background: #97b4fc;
    display: block;
    margin: auto;
    transition: 0.5s;/*Time for the underline to show up*/
}
/*This will highlight and underline the label when hovering over it */
.nav-links ul li:hover::after{
    width: 100%;/*Shows the underline with 100%*/
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*this is so it will be in the center of the div*/
    text-align: center;

}
/*add the h1 for the styling of the title*/
.text-box h1{
    font-size: 62px;
}
/*p for the text*/
.text-box p{
    margin: 10px 0 40px; /* 10 from top, 0 from left and right, 40 from bottom*/
    font-size: 14px;
    color:#fff;
}
.our-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.our-btn:hover{
    border: 1px solid #97b4fc;
    background: #97b4fc;
    transition: 1s;

}

/*To hide the icons for the fulls screen*/
nav .fa {
    display: none;
}

/*Now this is to take care of the mobile device*/
/*applicable to device with less than or equal to 700px*/
@media(max-width: 700px){
    /*Fixing the size of the title*/
    .text-box h1{
        font-size: 20px;
    }
    /*this was the CSS created for the menu labels*/
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #97b4fc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;/*To Hide the meni*/
        text-align: left;
        z-index: 2;
        transform: 1s;
    }
    /*prettying up the x button the menu*/
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    /*Space around the menu links*/
    .nav-links ul{
        padding: 30px;
    }


    /*the second section */
    .row{
        flex-direction: column;
    }


    
}



/* New Section of CSS for styling the new section of the page */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(5, 5, 5);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #4ed32d;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}











